<div class="absolute w-full h-full hidden sm:block">
  <img
    loading="lazy"
    class="absolute w-52 sm:w-56 md:w-60 lg:w-96 bottom-0 left-0"
    src="https://ouch-cdn2.icons8.com/RN7fVSt6ZJi0Y-Lo_hr0JhxwZyC80utJ71vLQ4s7drs/rs:fit:256:206/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzA0/L2EwMjc5NDg4LTI2/NGQtNDlhOS1iYzdh/LTU2MDk0MGY1NGM1/ZS5wbmc.png"
    alt="logo"
  />
  <img
    loading="lazy"
    class="absolute w-52 sm:w-56 md:w-60 lg:w-96 bottom-0 right-0"
    src="https://ouch-cdn2.icons8.com/dsLO87PtdlvUlsDmuxMtCKF-sEzMkzzyo5iVqNDuaN8/rs:fit:256:228/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTI5/LzNjNmExMDU5LTNm/MTEtNDJiNS1iOWQ4/LTdiNjAwOTc3OWFm/OS5wbmc.png"
    alt="logo"
  />
</div>
